@import '../assets/style/configs/bootstrap/variables';

.base {
  padding: 1rem 2rem;

  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);

  color: rgba(255, 255, 255, 0.7);
  background-color: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent;
    color: $primary;
  }
}

