.collapse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
}

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 0 0 auto;

  padding: 10px 4px 10px 16px;
}

.content {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1070;
}