@import '../assets/style/configs/bootstrap/variables';

.navtabs {
  position: sticky;
  top:0;
  z-index: 1050;
  padding-top: 24px;
}

.inner {
  display: flex;
  justify-content: center;
}

.item {
  display: inline-block;
  padding: .2rem 2rem;
  margin: 0 .5rem;

  border-radius: 4px;

  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.markerSVG {
  fill: white;
}

.markerWrap {
  height: 24px;
  position: relative;
  margin-bottom: -2px;
}

.marker {
  position: absolute;
  bottom: 0;
  left: calc(50% - 16px);

  transition: height .35s linear;
  transform-origin: bottom;

  height: 0;
  overflow: hidden;

  &.show {
    height: 24px;
  }
}