.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    z-index: 1001;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent 30% 60%, rgba(0,0,0,0.5) 100%);
  z-index: 1002;

  transition: opacity 0.35s linear;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.text {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  color: white;
  opacity: 0.8;
}

.subtitle {
  color: #ccc;
}
