@import '../assets/style/utils/_mixins.scss';

.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    min-height: 100px;
    z-index: 1001;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: linear-gradient(transparent 40%, rgba(0,0,0,0.6)), linear-gradient( rgba(0,0,0,0.6), transparent 60% );
  z-index: 1002;

  transition: opacity 0.35s linear;
  opacity: 0;

  // Prevent default :hover behavior in Safari/Chrome mobile browsers,
  // which will also trigger :hover when tabbing items.
  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }

  &[data-longpress=true] {
    opacity: 1;
  }
}

.text {
  h1, h2, h3, h4, h5, h6, p, small {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  color: white;
}

.subtitle {
  opacity: 0.8;
}
