@import '../assets/style/configs/variables';

.sidebar {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #fff;
  border-radius: 0 16px 16px 0;
  height: 100%;

  text-align: left;

  @media screen and (max-width: $bs-breakpoint-md){
    text-align: center;
    border-radius: 0 0 16px 16px;
  }
}

.title {
  font-size: 48px;
  overflow-wrap: break-word;

  margin-bottom: 60px;
}