@import '../assets/style/configs/variables';

.sidebar {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;

  height: 100%;

  text-align: left;
  background-color: #fff;

  // for shadow
  position: relative;
  z-index: 1060;
  box-shadow: 5px 0 10px 2px rgba(0,0,0,0.3);

  @media screen and (max-width: $bs-breakpoint-md){
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}

.title {
  font-size: 48px;
  overflow-wrap: break-word;

  margin-bottom: 60px;

  @media screen and (max-width: $bs-breakpoint-lg){
    font-size: 32px;
    margin-bottom: 32px;
  }
}