@import '../assets/style/configs/variables';

.sidebar {
  padding: 84px 24px 24px 24px;

  height: 100%;

  text-align: left;
  background-color: #fff;

  // for shadow
  position: relative;
  z-index: 1060;
  box-shadow: 5px 0 10px 2px rgba(0,0,0,0.3);

  @media screen and (max-width: $bs-breakpoint-md) {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-bottom: -30px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.3);

    &:after {
      position: absolute;
      left: 45%;
      bottom: 12px;

      content: "";

      display: block;
      width: 10%;
      height: 5px;
      border-radius: 2px;

      box-shadow: inset 1px 1px 4px 0 gray;
    }
  }

  @media screen and (max-width: $bs-breakpoint-sm) {
    padding-top: 24px;
  }
}

.title {
  font-size: 48px;
  overflow-wrap: break-word;

  margin-bottom: 60px;

  @media screen and (max-width: $bs-breakpoint-lg){
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}