@import '../assets/style/configs/bootstrap/variables';

.base {
  padding: .25rem 1rem;

  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: .5rem;

  color: rgba(255, 255, 255, 0.9);
  background-color: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: darken($primary, 30%);
  }
}

.active {
  border-color: rgba(255, 255, 255, 0.7);
}